.idea

/dataset/EPFL/basketball
/dataset/EPFL/campus
/dataset/EPFL/laboratory
/dataset/EPFL/passageway
/dataset/EPFL/terrace

/dataset/CAMPUS/Auditorium
/dataset/CAMPUS/Garden1
/dataset/CAMPUS/Garden2
/dataset/CAMPUS/Parkinglot

/ckpt
/output
